<h1><%= @doctor.name %></h1>

<p>Specialty: <%= @doctor.specialty %></p>
<p>Education: <%= @doctor.university %></p>
<p>Works at <%= @doctor.hospital_name %></p>

<div id='patient-list'>
  <p>Patients: </p>
  <ul>
    <% @doctor.patients.each do |patient| %>
      <div id="patient-<%= patient.id %>">
        <li><%= patient.name %></li>
        <%= button_to 'Delete', doctor_doctor_patient_path(@doctor, patient), method: :delete %>
      </div>
    <% end %>
  </ul>
</div>